
# Built Files
dist
build

# Internet Computer
.dfx

# Mac
.DS_Store

# Node
node_modules

# Rust
target

# Secrets
*.env
!example.local.env

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
